{% extends 'home/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Tables Form</title>
</head>
<body>

  <div class="container">
  {% block content %}
  {% load staticfiles %}
    <div class="col-sm-12">
      <h2 class="subtitle">Display Schedule | Seats Free | Tickets</h2>
      <form method="POST" action = "">{% csrf_token %}
        <div>{{ form }}</div>
        <input type="submit" value="Search"/><br><br>
      </form>
    </div>
  {% endblock content %}
  </div>

</body>
</html>
