<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <title>NYTRACK</title>
      {% load staticfiles %}
      <link rel="stylesheet" href='{% static "css/base.css" %}' />
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  </head>

  <body class="body">
    <div class="top-header text-center">
        <h1>NYTRACK</h1>
        <h2>CSC 336 Section G | Final Project Group 4</h2>
        <div class="col-sm-3 train-logo">
          <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/Logo_des_trains_grandes_lignes.png">
        </div>
    </div>

    <div class="container">

      <div class="col-sm-3">
        <div class="bs-sidebar" id="sidebar">
          <ul class="nav nav-pills nav-stacked">
          <li><a href='/'>Home</a></li>
          <!-- <li><a href='/search/'>Search</a></li> -->
          <li><a href='/buy/'>Buy or Search</a></li>
          <li><a href='/display/'>Display Train Schedule</a></li>
          <li><a href=https://github.com/steveipkis/Db_Railway>Source Code</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-9 content">
         {% block content %}
         {% endblock %}
      </div>

    </div>

  </body>


</html>
